<!--begin::Form-->

{{ form_start(form) }}
<div class="card-body">
    
 
    <div class="form-group">
        <label>{{ form_label(form.occasion, 'Service') }}</label>
        {{ form_widget(form.occasion, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.occasion) }} {{ form_errors(form.occasion) }}</span>
    </div>
         <div class="form-group">
        <label>{{ form_label(form.wording, 'Nom client') }}</label>
        {{ form_widget(form.wording, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.wording) }} {{ form_errors(form.wording) }}</span>
    </div>
    
  
    <div class="form-group">
        <label>{{ form_label(form.comment, 'Montant') }} en F CFA</label>
        {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.amount) }} {{ form_errors(form.amount) }}</span>
    </div>
    

    
    <div class="form-group">
        <label>{{ form_label(form.comment, 'Commentaire') }}</label>
        {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.comment) }} {{ form_errors(form.comment) }}</span>
    </div>
    
   

</div>
<div class="card-footer">
    <button class="btn  btn-primary mr-2">{{ button_label|default('Sauver') }}</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>
</div>
{{ form_end(form) }}

<!--end::Form-->
