{% extends 'security_base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <!--begin::Form-->
    <form class="form" id="kt_login_singin_form" method="post">

        <!--begin::Title-->
        <div class="pb-5 pb-lg-15">
            <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Connexion</h3>
            <div class="text-muted font-weight-bold font-size-h4">Merci de vous
                <a href="" class="text-primary font-weight-bolder">connecter</a></div>
      
        </div>
        <!--begin::Title-->
          
                
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        
        <!--begin::Form group-->
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder text-dark">Votre identifiant</label>
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="text" value="{{ last_username }}" name="email" autocomplete="on" required autofocus />
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group">
            <div class="d-flex justify-content-between mt-n5">
                <label class="font-size-h6 font-weight-bolder text-dark pt-5">Votre mot de passe</label>
                <a href="{{ path('app_forgot_password_request') }}" class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5">Mot de passe oublié ?</a>
            </div>
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="password" name="password" autocomplete="off" required/>
        </div>
        <!--end::Form group-->
        <!--begin::Action-->
        <div class="pb-lg-0 pb-5">
            <button type="submit" id="kt_login_singin_form_submit_button" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Connexion</button>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
                   >
               
        </div>
        <!--end::Action-->
    </form>
    <!--end::Form-->


{% endblock %}


{% block javascripts %}
    <!--begin::Page Scripts(used by this page)-->
    <script src="{{ asset('assets/js/pages/custom/login/login-4.js?v=7.0.5') }}"></script>
    <!--end::Page Scripts-->
{% endblock %}
