<!--begin::Form-->
{{ form_start(form) }}
<div class="card-body">
  
    <div class="form-group">
        <label>{{ form_label(form.safe, 'Coffre en F CFA') }}</label>
        {{ form_widget(form.safe, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.safe) }} {{ form_errors(form.safe) }}</span>
    </div>
    
    
    <div class="form-group">
        <label>{{ form_label(form.balanceUV, 'Solde UV Orange en F CFA') }}</label>
        {{ form_widget(form.balanceUV, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.balanceUV) }} {{ form_errors(form.balanceUV) }}</span>
    </div>
   
    
    <div class="form-group">
        <label>{{ form_label(form.currency, 'Devise en F CFA') }}</label>
        {{ form_widget(form.currency, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.currency) }} {{ form_errors(form.currency) }}</span>
    </div>
   
    
    <div class="form-group">
        <label>{{ form_label(form.debt, 'Dette en F CFA') }}</label>
        {{ form_widget(form.debt, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.debt) }} {{ form_errors(form.debt) }}</span>
    </div>
   
    
    <div class="form-group">
        <label>{{ form_label(form.canal, 'Canal en F CFA') }}</label>
        {{ form_widget(form.canal, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.canal) }} {{ form_errors(form.canal) }}</span>
    </div>
    
     
    <div class="form-group">
        <label>{{ form_label(form.other, 'Autre en F CFA') }}</label>
        {{ form_widget(form.other, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.other) }} {{ form_errors(form.other) }}</span>
    </div>
   
    <div class="form-group">
        <label>{{ form_label(form.misc, 'Divers en F CFA') }}</label>
        {{ form_widget(form.misc, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.misc) }} {{ form_errors(form.misc) }}</span>
    </div>
    
</div>
<div class="card-footer">
    <button class="btn  btn-primary mr-2">{{ button_label|default('Sauver') }}</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>
</div>
{{ form_end(form) }}

<!--end::Fo