{% extends 'base.html.twig' %}

{% block title %}Extra Cash{% endblock %}

{% block body %}
  
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Extra cash</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Gestion extra-cash</a>
                            </li>

                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">

                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">Extra cash
                                <span class="d-block text-muted pt-2 font-size-sm">Gérez ici les extra cash</span></h3>
                        </div>
                        <div class="card-toolbar">

                            <!--begin::Button-->
                            <a href="{{ path('extra_cash_new') }}" class="btn btn-primary font-weight-bolder">
                                <i class="la la-plus"></i>Nouveau</a>

                            <!--end::Button-->
                        </div>
                    </div>
                    <div class="card-body">
                        <!--begin: Datatable-->
                        <table  class="table table-bordered" id="kt_datatable">
                            <thead>
                                <tr>
                                    <th>Coffre</th>
                                    <th>Solde UV</th>
                                    <th>Devise</th>
                                    <th>Dette</th>
                                    <th>Autre</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for extra_cash in extra_cashes %}
                                    {% if loop.index is divisible by 2 %}
                                        <tr>
                                            <td>{{ extra_cash.safe }} F</td>
                                            <td>{{ extra_cash.balanceUV }} F</td>
                                            <td>{{ extra_cash.currency }} F</td>
                                            <td>{{ extra_cash.debt }} F</td>
                                            <td>{{ extra_cash.other }} F</td>
                                            <td>
                                                <a href="{{ path('extra_cash_show', {'id': extra_cash.id}) }}">show</a>
                                                <a href="{{ path('extra_cash_edit', {'id': extra_cash.id}) }}">edit</a>
                                            </td>
                                        </tr>
                                    {% else %}

                                        <tr style="background-color:lavenderblush">
                                            <td>{{ extra_cash.id }}</td>
                                            <td>{{ extra_cash.safe }}</td>
                                            <td>{{ extra_cash.balanceUV }}</td>
                                            <td>{{ extra_cash.currency }}</td>
                                            <td>{{ extra_cash.debt }}</td>
                                            <td>{{ extra_cash.other }}</td>
                                            <td>
                                                <a href="{{ path('extra_cash_show', {'id': extra_cash.id}) }}"><i class="flaticon-eye text-warning"></i></a>
                                                <a href="{{ path('extra_cash_edit', {'id': extra_cash.id}) }}"><i class="flaticon2-pen text-danger"></i></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    <tr>
                                        <td colspan="7">no records found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>




                        <!--end: Datatable-->
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>





{% endblock %}


{% block javascripts %}

    <!--begin::Page Vendors(used by this page)-->
    <script src="{{ asset('assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5') }}"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="{{ asset('assets/js/pages/crud/datatables/basic/basic.js?v=7.0.5') }}"></script>
    <!--end::Page Scripts-->

{% endblock %}