  
<!--begin::Form-->


{{ form_start(form) }}
<div class="card-body">
    
 
    <div class="form-group">
        <label>{{ form_label(form.name, 'Libellé') }}</label>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.name) }} {{ form_errors(form.name) }}</span>
    </div>
     
    <div class="form-group">
        <label>{{ form_label(form.heading, 'Service') }}</label>
        {{ form_widget(form.heading, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.heading) }} {{ form_errors(form.heading) }}</span>
    </div>

    <div class="form-group">
        <label>{{ form_label(form.typeOperation, 'Type Opération') }}</label>
        {{ form_widget(form.typeOperation, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.typeOperation) }} {{ form_errors(form.typeOperation) }}</span>
    </div>

</div>
<div class="card-footer">
    <button class="btn  btn-primary mr-2">{{ button_label|default('Sauver') }}</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>
</div>
{{ form_end(form) }}

<!--end::Form-->