{% extends 'base.html.twig' %}

{% block title %}Editer Service{% endblock %}

{% block body %}
   
   
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Service</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Editer le service</a>
                            </li>
                            
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->
                
            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col offset-md-3">
                        <!--begin::Card-->
                        <div class="card card-custom gutter-b example example-compact">
                            <div class="card-header">
                                <h3 class="card-title">Editer Service &nbsp; {{ include('occasion/_delete_form.html.twig') }}</h3>
                              
                            </div>
                            
                          {{ include('occasion/_form.html.twig', {'button_label': 'Modifier'}) }}

                           
                        </div>
                        <!--end::Card-->
                       
                        <b><a href="{{ path('occasion_index') }}">Retourner à la liste</a>
                    </div>
                </div>
            </div>
                           
            <!--end::Container-->
        </div>
        <!--end::Entry-->
        
    </div>
    <!--end::Content-->

   
{% endblock %}
