{% extends 'base.html.twig' %}

{% block title %}Liste Compensations{% endblock %}

{% block body %}

     {% set credit = 0 %}
     {% set debit = 0 %}
     {% set benefit = 0 %}

    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Compensation</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Gestion des compensations</a>
                            </li>
                           
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">

               
                    <!--begin::Notice-->
                    <div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">
                        <div class="alert-text"> {{ include('_search_form.html.twig', {'route': 'compensations'}) }}</div>
                    </div>
                    <!--end::Notice-->
               
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">Compensations
                                <span class="d-block text-muted pt-2 font-size-sm">Gérez ici toutes les compensations de votre agence</span></h3>
                        </div>
                        
                    
                    </div>
                    <div class="card-body">
                        <!--begin: Datatable-->
                        <table class="table table-bordered" id="kt_datatable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Nom Client</th>
                                    <th>Agence</th>
                                    <th>Service</th>
                                    <th>Montant Dépôt</th>
                                    <th>Montant Retrait</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr style="background-color:#3699FF">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            
                                    </tr>
                                
                                {% for operation in operations %}
                                    {% if loop.index is divisible by 2 %}
                                        
                                        <tr>
                                            <td>#0000-{{ operation.id }}</td>
                                            <td>{{ operation.dateOperation | date('d-m-Y H:i:s') }}</td>


                                            <td>{{ operation.wording }}</td>
                                            <td>{{ operation.user.agency ? operation.user.agency.name : 'Superviseur' }}</td>

                                            {% if operation.occasion is null %}
                                                {% set card = operation.wording|split('-') %}
                                                <td>Vente de carte {{ card[1] }} </td>
                                            {% else %} 
                                                <td>{{ operation.occasion.name }}</td>
                                            {% endif %}

                                            {% if operation.occasion.typeOperation == type %} 
                                                {% set debit = debit + operation.amount %}
                                                <td></td>
                                                <td>{{ operation.amount }} F</td>
                                            {% else %} 
                                                {% set credit = credit + operation.amount %}

                                                <td>{{ operation.amount }} F</td>
                                                <td></td>
                                            {% endif %}

  
                                        </tr>
                                    {% else %}
                                        
                                        <tr style="background-color:lavenderblush">
                                            <td>#0000-{{ operation.id }}</td>
                                            <td>{{ operation.dateOperation | date('d-m-Y H:i:s') }}</td>
                                            <td>{{ operation.wording }}</td>
                                            <td>{{ operation.user.agency ? operation.user.agency.name : 'Superviseur' }}</td>
                                            {% if operation.occasion is null %}
                                                {% set card = operation.wording|split('-') %}
                                                <td>Vente de carte {{ card[1] }} </td>
                                            {% else %} 
                                                <td>{{ operation.occasion.name }}</td>
                                            {% endif %}


                                            {% if operation.occasion.typeOperation == type %} 
                                                {% set debit = debit + operation.amount %}
                                                <td></td>
                                                <td>{{ operation.amount }} F</td>
                                            {% else %} 
                                                 {% set credit = credit + operation.amount %}
                                                <td>{{ operation.amount }} F</td>
                                                <td></td>
                                            {% endif %}


                                               
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    <tr>
                                        <td >pas de données trouvées</td>
                                    </tr>
                                {% endfor %}
                                 <tr style="background-color:#3699FF">
                                    <td><strong style="color:white;">TOTAL</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong style="color:white;">{{ credit }} F</strong></td>
                                    <td><strong style="color:white;">{{ debit }} F</strong></td>
                                    <td>
                                       <strong style="color:white;">{{ credit - debit }} F</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--end: Datatable-->
                    </div>
                                   
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->
            
          <!--  -->
        </div>
                                    
        <!--end::Entry-->
    </div>


{% endblock %}


{% block javascripts %}

    <!--begin::Page Vendors(used by this page)-->
    <script src="{{ asset('assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5') }}"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="{{ asset('assets/js/pages/crud/datatables/basic/basic.js?v=7.0.5') }}"></script>
    <!--end::Page Scripts-->

{% endblock %}