{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
       
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Dashboard-->
                <!--begin::Row-->
                <div class="row"><h1 style="font-size: 70px;">Bienvenu(e) à votre<br/> espace de travail !</h1></div>
                <br><br>
                <div class="row"><a href="{{ path('operation_index') }}" class="btn btn-lg btn-danger">Commencer la vente</a></div>
                <!--end::Row-->
               
                <!--end::Dashboard-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->

{% endblock %}

{% block javascripts %}

    <!--begin::Page Vendors(used by this page)-->
    <script src="{{ asset('assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5') }}"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="{{ asset('assets/js/pages/crud/datatables/basic/basic.js?v=7.0.5') }}"></script>
    <!--end::Page Scripts-->


{% endblock %}