{% extends 'base.html.twig' %}

{% block title %}ETAT{% endblock %}

{% block body %}

    {% set total1 = 0 %}
    {% set total2 = 0 %}
    {% set total3 = 0 %}
    {% set total4 = 0 %}
    {% set total5 = 0 %}


    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">ETATS</h5>
                        <!--end::Page Title-->
                       
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">

                <div class="row">

                    <div class="col-lg-6 col-md-6">
                        <!--begin::Advance Table Widget 4-->
                        <div class="card card-custom gutter-b">
                            <!--begin::Header-->
                            <div class="card-header border-0 py-5">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label font-weight-bolder text-dark">ETAT DES CAISSES</span>
                                    <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
                                </h3>

                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-0 pb-3">
                                <div class="tab-content">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">

                                            <tbody>

                                                {% for checkout in checkouts  %}
                                                    <tr class="text-left text-uppercase">
                                                        <th style="min-width: 100px">{{ checkout.libelle }}:</th>
                                                        <td>{{ checkout.amount }} F</td>
                                                    </tr>
                                                    
                                                     {% set total1 = total1 + checkout.amount %}
                                                {% endfor %}
                                              <tr class="text-left text-uppercase">
                                                        <th style="min-width: 100px">TOTAL:</th>
                                                        <td>{{ total1 }} F</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Advance Table Widget 4-->

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!--begin::Advance Table Widget 4-->
                        <div class="card card-custom gutter-b">
                            <!--begin::Header-->
                            <div class="card-header border-0 py-5">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label font-weight-bolder text-dark">CARTES UBA</span>
                                    <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
                                </h3>

                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-0 pb-3">
                                <div class="tab-content">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">

                                            <tbody>

                                                 {% for card in cards  %}
                                                    <tr class="text-left text-uppercase">
                                                        <th style="min-width: 100px">{{ card.libelle }}:</th>
                                                        <td>{{ card.amount }} F</td>
                                                    </tr>
                                                     {% set total2 = total2 + card.amount %}
                                                {% endfor %}
                                                 <tr class="text-left text-uppercase">
                                                        <th style="min-width: 100px">TOTAL:</th>
                                                        <td>{{ total2 }} F</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Advance Table Widget 4-->

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!--begin::Advance Table Widget 4-->
                        <div class="card card-custom gutter-b">
                            <!--begin::Header-->
                            <div class="card-header border-0 py-5">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label font-weight-bolder text-dark">Solde Dépense</span>
                                    <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
                                </h3>

                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-0 pb-3">
                                <div class="tab-content">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">

                                            <tbody>
                                                {% for benefit in benefits  %}
                                                    <tr class="text-left text-uppercase">
                                                        <th style="min-width: 100px">{{ benefit.libelle }}:</th>
                                                        <td>{{ benefit.amount }} F</td>
                                                    </tr>
                                                    {% set total3 = total3 + benefit.amount %}
                                                {% endfor %}
                                                 <tr class="text-left text-uppercase">
                                                        <th style="min-width: 100px">TOTAL:</th>
                                                        <td>{{ total3 }} F</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Advance Table Widget 4-->

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!--begin::Advance Table Widget 4-->
                        <div class="card card-custom gutter-b">
                            <!--begin::Header-->
                            <div class="card-header border-0 py-5">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label font-weight-bolder text-dark">Banque</span>
                                    <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
                                </h3>

                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-0 pb-3">
                                <div class="tab-content">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">

                                            <tbody>
                                                {% for bank in banks  %}
                                                    <tr class="text-left text-uppercase">
                                                        <th style="min-width: 100px">{{ bank.libelle }}:</th>
                                                        <td>{{ bank.amount }} F</td>
                                                    </tr>
                                                    {% set total4 = bank.amount %}
                                                {% endfor %}
                                                 <tr class="text-left text-uppercase">
                                                        <th style="min-width: 100px">TOTAL:</th>
                                                        <td>{{ total4 }} F</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Advance Table Widget 4-->

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!--begin::Advance Table Widget 4-->
                        <div class="card card-custom gutter-b">
                            <!--begin::Header-->
                            <div class="card-header border-0 py-5">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label font-weight-bolder text-dark">Extra caisse</span>
                                    <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
                                </h3>
                            <div class="card-toolbar">
                                <a href="{{ path('extra_cash_new') }}" class="btn btn-info font-weight-bolder font-size-sm mr-3">Extra caisse du jour</a>
                            </div>
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-0 pb-3">
                                <div class="tab-content">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">

                                            <tbody>

                                                {% for extra in extras  %}
                                                    <tr class="text-left text-uppercase">
                                                        <th style="min-width: 100px">{{ extra.libelle }}:</th>
                                                        <td>{{ extra.amount }} F</td>
                                                    </tr>
                                                     {% set total5 = total5 + extra.amount %}
                                                {% endfor %}
                                                 <tr class="text-left text-uppercase">
                                                        <th style="min-width: 100px">TOTAL:</th>
                                                        <td>{{ total5 }} F</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Advance Table Widget 4-->

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!--begin::Advance Table Widget 4-->
                        <div class="card card-custom gutter-b">
                            <!--begin::Header-->
                            <div class="card-header border-0 py-5">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label font-weight-bolder text-dark">TOTAL</span>
                                    <span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
                                </h3>

                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-0 pb-3">
                                <div class="tab-content">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <div class="card-toolbar">
                                            <div class="btn btn-primary font-weight-bolder font-size-sm mr-3">{{ total1 + total2 - total3 + total4 + total5 }} F</div>
                                        </div>
                                    </div>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Advance Table Widget 4-->

                    </div>

                </div>

             
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->

    <div class="content d-flex flex-column flex-column-fluid">
        <div class="container"><b><a href="{{ path('client_index') }}"></a></b></div>
    </div>


{% endblock %}
