{% extends 'base.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}
  
    {% set totalinitial = 0 %}
    {% set totalfinal = 0 %}
    {% set totalvendue = 0 %}
    {% set totaux = 0 %}
    
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Inventaire</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Inventaire des cartes vendues</a>
                            </li>
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">Inventaire
                                <span class="d-block text-muted pt-2 font-size-sm">Visualiser l'inventaire des cartes</span></h3>
                        </div>
                        <div class="card-toolbar">
                            <!--begin::Button-->
                            <a href="{{ path('sold_card_new') }}" class="btn btn-primary font-weight-bolder">
                                <i class="la la-plus"></i>Solde rechargement carte</a>
                            <!--end::Button-->
                        </div>
                    </div>
                    <div class="card-body">
                        <!--begin: Datatable-->
                        <table  class="table table-bordered" id="kt_datatable">
                            <thead>
                                <tr>
                                    <th>Type de carte</th>
                                    <th>Stock initial</th>
                                    <th>Stock final</th>
                                    <th>carte(s) vendue(s)</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for card in newlist %}
                                    
                                    {% set totalinitial = totalinitial + card.card.quantity %}
                                    
                                    {% if loop.index is divisible by 2 %}
                                        <tr>
                                            
                                            <td>{{ card.card.typeCard }}</td>
                                            <td>{{ card.quantity }} </td>
                                            
                                            {% if card.card.typeCard == "UBA CI" %}
                                                
                                                <td>{{ card.quantity - buy_uba_ci }}</td>
                                                <td>{{ buy_uba_ci }}</td>
                                                <td>{{ buy_uba_ci * card.card.price }} F</td>
                                                
                                                {% set totalfinal = totalfinal + (card.quantity - buy_uba_ci) %}
                                                {% set totalvendue = totalvendue + buy_uba_ci %}
                                                {% set totaux = totaux + (buy_uba_ci * card.card.price) %}
                                                
                                            {% else %}
                                                
                                                <td>{{ card.quantity - buy_uba_bf }}</td>
                                                <td>{{ buy_uba_bf }}</td>
                                                <td>{{ buy_uba_bf * card.card.price }} F</td>
                                                
                                                
                                                {% set totalfinal = totalfinal + (card.quantity - buy_uba_bf) %}
                                                {% set totalvendue = totalvendue + buy_uba_bf %}
                                                {% set totaux = totaux + (buy_uba_bf * card.card.price) %}
                                                
                                            {% endif %}
                                            
                                        </tr>
                                    {% else %}
                                        <tr style="background-color:lavenderblush">
                                            <td>{{ card.card.typeCard }}</td>
                                            <td>{{ card.quantity }} </td>
                                            
                                            {% if card.card.typeCard == "UBA CI" %}
                                                
                                                <td>{{ card.quantity - buy_uba_ci}}</td>
                                                <td>{{ buy_uba_ci }}</td>
                                                <td>{{ buy_uba_ci * card.card.price }} F</td>
                                                
                                                {% set totalfinal = totalfinal + (card.quantity - buy_uba_ci) %}
                                                {% set totalvendue = totalvendue + buy_uba_ci %}
                                                {% set totaux = totaux + (buy_uba_ci * card.card.price) %}
                                                
                                            {% else %}
                                                <td>{{ card.quantity - buy_uba_bf }}</td>
                                                <td>{{ buy_uba_bf }}</td>
                                                <td>{{ buy_uba_bf * card.card.price }} F</td>
                                                
                                                
                                                {% set totalfinal = totalfinal + (card.quantity - buy_uba_bf) %}
                                                {% set totalvendue = totalvendue + buy_uba_bf %}
                                                {% set totaux = totaux + (buy_uba_bf * card.card.price) %}
                                                
                                            {% endif %}
                                            
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    <tr>
                                        <td colspan="3">pas de données trouvées</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                            <tfooter>
                                <tr style="background-color:#3699FF">
                                    <td><strong style="color:white;">TOTAL</strong></td>
                                    <td><strong style="color:white;">{{ totalinitial }}</strong></td>
                                    <td><strong style="color:white;">{{ totalfinal }}</strong></td>
                                    <td><strong style="color:white;">{{ totalvendue }}</strong></td>
                                    <td>
                                       <strong style="color:white;">{{ totaux }} F</strong>
                                    </td>
                                </tr>
                            </tfooter>
                        </table>
                        <!--end: Datatable-->
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
                    
{% endblock %}


{% block javascripts %}

    <!--begin::Page Vendors(used by this page)-->
    <script src="{{ asset('assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5') }}"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="{{ asset('assets/js/pages/crud/datatables/basic/basic.js?v=7.0.5') }}"></script>
    <!--end::Page Scripts-->

{% endblock %}
