{% extends 'base.html.twig' %}

{% block title %}{{ type }}{% endblock %}

{% block body %}

     {% set credit = 0 %}
     {% set debit = 0 %}

    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">{{ type }}</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Gestion {{ type }}</a>
                            </li>
                            {#   <li class="breadcrumb-item">
                                   <a href="" class="text-muted">Datatables.net</a>
                               </li>
                               <li class="breadcrumb-item">
                                   <a href="" class="text-muted">Basic</a>
                               </li>
                               <li class="breadcrumb-item">
                                   <a href="" class="text-muted">Basic Tables</a>
                               </li>#}
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">

                {% if is_granted('ROLE_ADMIN') %}
                    <!--begin::Notice-->
                    <div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">
                        <div class="alert-text"> {{ include('_search_form.html.twig', {'route': 'money_out_index', 'type':type}) }}</div>
                    </div>
                    <!--end::Notice-->
                {% endif %}

                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">{{ type }}
                                <span class="d-block text-muted pt-2 font-size-sm">Gérez ici les opérations de {{ type }}</span></h3>
                        </div>
                        
                        
                       
                        <div class="card-toolbar">
                            {% if is_granted('ROLE_ADMIN') %} 
                                
                                {% if type != 'Achat' %}
                                    <!--begin::Button-->
                                    <a href="{{ path('money_in_new', {'type': type }) }}" class="btn btn-secondary font-weight-bolder">
                                        <i class="la la-plus"></i>Nouvel Apport</a> 
                                    <!--end::Button-->&nbsp; &nbsp;
                                {% endif %}
                                
                                <a href="{{ path('money_out_new', {'type': type }) }}" class="btn btn-primary font-weight-bolder">
                                        <i class="la la-plus"></i>Nouvelle opération</a>
                                        
                            {% else %}
                                {% if type != 'Banque' %} 
                                    <!--begin::Button-->
                                    <a href="{{ path('money_out_new', {'type': type }) }}" class="btn btn-primary font-weight-bolder">
                                        <i class="la la-plus"></i>Nouvelle opération</a>&nbsp; &nbsp;
                                    <!--end::Button-->
                                {% endif %}
                                {% if type != 'Achat' %}
                                    <!--begin::Button-->
                                    <a href="{{ path('money_in_new', {'type': type }) }}" class="btn btn-secondary font-weight-bolder">
                                        <i class="la la-plus"></i>Nouvel Apport</a>
                                    <!--end::Button-->
                                {% endif %}
                            {% endif %}
                            
                        </div>
                      

                    </div>
                    <div class="card-body">
                        <!--begin: Datatable-->
                        <table class="table table-bordered" id="kt_datatable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Libellé</th>
                                    <th>Agence</th>
                                    <th>Montant Dépôt</th>
                                    <th>Montant Retrait</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% if type != 'Achat' %}
                                    <tr style="background-color:#3699FF">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                           
                                            <td>
                                              <strong style="color:white;"> {{ coffer }} F</strong>
                                            </td>
                                    </tr>
                                {% endif %}
                                {% for operation in operations %}
                                    {% if loop.index is divisible by 2 %}
                                        
                                        <tr>
                                            <td>#0000-{{ operation.id }}</td>
                                            <td>{{ operation.dateOperation | date('d-m-Y H:i:s') }}</td>
                                            <td>{{ operation.wording }}</td>
                                            <td>{{ operation.user.agency ? operation.user.agency.name : 'Superviseur' }}</td>
                                            
                                            {% if operation.occasion.typeOperation == 'Débit' %} 
                                                {% set debit = debit + operation.amount %}
                                                <td></td>
                                                <td>{{ operation.amount }} F</td>
                                            {% else %} 
                                                {% set credit = credit + operation.amount %}

                                                <td>{{ operation.amount }} F</td>
                                                <td></td>
                                            {% endif %}


                                            <td>

                                                <a href="{{ path('operation_show', {'id': operation.id}) }}"><i class="flaticon-eye text-warning"></i></a>
                                                   
                                            </td>
                                        </tr>
                                    {% else %}
                                        
                                        <tr style="background-color:lavenderblush">
                                            <td>#0000-{{ operation.id }}</td>
                                            <td>{{ operation.dateOperation | date('d-m-Y H:i:s') }}</td>
                                            <td>{{ operation.wording }}</td>
                                            <td>{{ operation.user.agency ? operation.user.agency.name : 'Superviseur' }}</td>
                                            
                                                {% if operation.occasion.typeOperation == 'Débit' %} 
                                                    {% set debit = debit + operation.amount %}
                                                    <td></td>
                                                    <td>{{ operation.amount }} F</td>
                                                {% else %} 
                                                     {% set credit = credit + operation.amount %}
                                                    <td>{{ operation.amount }} F</td>
                                                    <td></td>
                                                {% endif %}

                                            <td>
                                                <a href="{{ path('operation_show', {'id': operation.id}) }}"><i class="flaticon-eye text-warning"></i></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    <tr>
                                        <td >pas de données trouvées</td>
                                    </tr>
                                {% endfor %}
                                 <tr style="background-color:#3699FF">
                                    <td><strong style="color:white;">TOTAL</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong style="color:white;">{{ credit }} F</strong></td>
                                    <td><strong style="color:white;">{{ debit }} F</strong></td>
                                    <td>
                                       <strong style="color:white;">{{ credit - debit }} F</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--end: Datatable-->
                    </div>
                                   
                </div>
                <!--end::Card-->
                <br/>
                 {#<a href="{{ path('coffer_state_index') }}" class="btn btn-success font-weight-bolder">Etat des caisses</a>#}
            </div>
            <!--end::Container-->
            
          <!--  -->
        </div>
                                    
        <!--end::Entry-->
    </div>


{% endblock %}


{% block javascripts %}

    <!--begin::Page Vendors(used by this page)-->
    <script src="{{ asset('assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5') }}"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="{{ asset('assets/js/pages/crud/datatables/basic/basic.js?v=7.0.5') }}"></script>
    <!--end::Page Scripts-->

{% endblock %}