{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block title %}Solde de rechargement{% endblock %}

{% block body %}
 
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Soldes de rechargment</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Actualiser soldes de rechargment</a>
                            </li>
                            
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->
                
            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col offset-md-3">
                        <!--begin::Card-->
                        <div class="card card-custom gutter-b example example-compact">
                            <div class="card-header">
                                <h3 class="card-title">Actualiser les soldes de rechargement</h3>
                            </div>
                            
                            <!--begin::Form-->


{{ form_start(form) }}
<div class="card-body">
   
 
    <div class="form-group">
        <label>{{ form_label(form.soldUbaCI, 'Solde carte UBA CI') }}</label>
        {{ form_widget(form.soldUbaCI, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.soldUbaCI) }} {{ form_errors(form.soldUbaCI) }}</span>
    </div>
    
    <div class="form-group">
        <label>{{ form_label(form.soldUbaBF, 'Solde carte UBA BF') }}</label>
        {{ form_widget(form.soldUbaBF, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.soldUbaBF) }} {{ form_errors(form.soldUbaBF) }}</span>
    </div>
    
     
    
</div>
<div class="card-footer">
    <button class="btn  btn-primary mr-2">{{ button_label|default('Sauver') }}</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>
</div>
{{ form_end(form) }}

<!--end::Form-->
                           
                        </div>
                        <!--end::Card-->
                          
                        <b><a href="{{ path('inventory_index') }}">Retourner à la liste</a>
                    </div>
                </div>
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->

{% endblock %}
