<!--begin::Form-->

{{ form_start(form) }}
<div class="card-body">
  
    <div class="form-group">
        <label>{{ form_label(form.orange, 'Orange Money en F CFA') }}</label>
        {{ form_widget(form.orange, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.orange) }} {{ form_errors(form.orange) }}</span>
    </div>
    
    
    <div class="form-group">
        <label>{{ form_label(form.mtn, 'MTN Money en F CFA') }}</label>
        {{ form_widget(form.mtn, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.mtn) }} {{ form_errors(form.mtn) }}</span>
    </div>
   
    
    <div class="form-group">
        <label>{{ form_label(form.moov, 'Moov Money en F CFA') }}</label>
        {{ form_widget(form.moov, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.moov) }} {{ form_errors(form.moov) }}</span>
    </div>
   
    
    
    <div class="form-group">
        <label>{{ form_label(form.wizall, 'Wizall en F CFA') }}</label>
        {{ form_widget(form.wizall, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.wizall) }} {{ form_errors(form.wizall) }}</span>
    </div>
   
    
    
    <div class="form-group">
        <label>{{ form_label(form.canalPlus, 'Canal+ en F CFA') }}</label>
        {{ form_widget(form.canalPlus, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.canalPlus) }} {{ form_errors(form.canalPlus) }}</span>
    </div>
   
    
    
    
    
    
    <div class="form-group" style="{% if not is_granted('ROLE_ADMIN') %} display:none; {% endif %}">
        <label>{{ form_label(form.africard, 'Africard en F CFA') }}</label>
        {{ form_widget(form.africard, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.africard) }} {{ form_errors(form.africard) }}</span>
    </div>
   
    <div class="form-group" style="{% if not is_granted('ROLE_ADMIN') %} display:none; {% endif %}">
        <label>{{ form_label(form.moneygram, 'Money-Gram en F CFA') }}</label>
        {{ form_widget(form.moneygram, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.moneygram) }} {{ form_errors(form.moneygram) }}</span>
    </div>
   
    <div class="form-group" style="{% if not is_granted('ROLE_ADMIN') %} display:none; {% endif %}">
        <label>{{ form_label(form.wu, 'WU en F CFA') }}</label>
        {{ form_widget(form.wu, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.wu) }} {{ form_errors(form.wu) }}</span>
    </div>
   
    <div class="form-group" style="{% if not is_granted('ROLE_ADMIN') %} display:none; {% endif %}">
        <label>{{ form_label(form.ria, 'Ria en F CFA') }}</label>
        {{ form_widget(form.ria, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.ria) }} {{ form_errors(form.ria) }}</span>
    </div>
   
    
    
</div>
<div class="card-footer">
    <button class="btn  btn-primary mr-2">{{ button_label|default('Sauver') }}</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>
</div>
{{ form_end(form) }}

<!--end::Form-->