{% extends 'base.html.twig' %}

{% block title %}Commissions du jour{% endblock %}

{% block body %}
   
    {% set totalorange = 0 %}
    {% set totalmtn = 0 %}
    {% set totalmoov = 0 %}
    {% set totalwizall = 0 %}
    {% set totalcanal = 0 %}
    
    {% if is_granted('ROLE_ADMIN') %}
    {% set totalafricard = 0 %}
    {% set totalmoneygram = 0 %}
    {% set totalwu = 0 %}
    {% set totalria = 0 %}
    {% endif %}
 

    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Commission</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Gestion des commissions</a>
                            </li>
                           
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
             
                {% if is_granted('ROLE_ADMIN') %} 
                <!--begin::Notice-->
                <div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">
                    <div class="alert-text"> {{ include('_search_form.html.twig', {'route': 'benefit_index'}) }}</div>
                </div>
                <!--end::Notice-->
                {% endif %}
                
                
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">Commissions
                                <span class="d-block text-muted pt-2 font-size-sm">Gérez ici les commissions du jour</span></h3>
                        </div>
                        <div class="card-toolbar">
                            {% if type != 'two' %}
                                 <!--begin::Button-->
                            <a href="{{ path('benefit_new', {'type':'one'}) }}" class="btn btn-primary font-weight-bolder">
                                <i class="la la-plus"></i>Nouvelle commission</a>
                            <!--end::Button-->
                                {% endif %}
                           
                        </div>
                    </div>
                    <div class="card-body">
                        <!--begin: Datatable-->
                        <table  class="table table-bordered" id="kt_datatable">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Orange Money</th>
                                    <th>MTN Money</th>
                                    <th>Moov Money</th>
                                    <th>Wizall</th>
                                    <th>Canal+</th>
                                    
                                    {% if is_granted('ROLE_ADMIN') %} 
                                    <th>Africard</th>
                                    <th>Money Gram</th>
                                    <th>WU</th>
                                    <th>Ria</th>
                                    {% endif %}
                                    
                                    
                                    <th>Total</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                             
                                {% for benefit in benefits %}
                         
                                    {% set totalorange = totalorange + benefit.orange %}
                                    {% set totalmtn = totalmtn + benefit.mtn %}
                                    {% set totalmoov = totalmoov + benefit.moov %}
                                    {% set totalwizall = totalwizall + benefit.wizall %} 
                                    {% set totalcanal = totalcanal + benefit.canalPlus %}
                                    
                                    {% if is_granted('ROLE_ADMIN') %}
                                        {% set totalafricard = totalafricard + benefit.africard %}
                                        {% set totalmoneygram = totalmoneygram + benefit.moneygram %}
                                        {% set totalwu = totalwu + benefit.wu %}
                                        {% set totalria = totalria + benefit.ria %}
                                    {% endif %}
                                    
                                    {% if loop.index is divisible by 2 %}
                                        <tr>
                                              <td>{{ benefit.dateBen ? benefit.dateBen|date('Y-m-d') : '' }}</td>
                                            <td>{{ benefit.orange }} F</td>
                                            <td>{{ benefit.mtn }} F</td>
                                            <td>{{ benefit.moov }} F</td>
                                            <td>{{ benefit.wizall }} F</td>
                                            <td>{{ benefit.canalPlus }} F</td>
                                            
                                            {% if is_granted('ROLE_ADMIN') %} 
                                            <td>{{ benefit.africard }} F</td>
                                            <td>{{ benefit.moneygram }} F</td>
                                            <td>{{ benefit.wu }} F</td>
                                            <td>{{ benefit.ria }} F</td>
                                            {% endif %}
                                            
                                            
                                          
                                            <td>{{ benefit.orange + benefit.mtn + benefit.moov + benefit.wizall + benefit.canalPlus }} F</td>
                                            <td>
                                                <a href="{{ path('benefit_show', {'id': benefit.id}) }}"><i class="flaticon-eye text-warning"></i></a>
                                                <a href="{{ path('benefit_edit', {'id': benefit.id}) }}"><i class="flaticon2-pen text-danger"></i></a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr style="background-color:lavenderblush">
                                            
                                            <td>{{ benefit.dateBen ? benefit.dateBen|date('Y-m-d') : '' }}</td>
                                            <td>{{ benefit.orange }} F</td>
                                            <td>{{ benefit.mtn }} F</td>
                                            <td>{{ benefit.moov }} F</td>
                                            <td>{{ benefit.wizall }} F</td>
                                            <td>{{ benefit.canalPlus }} F</td>
                                            
                                            {% if is_granted('ROLE_ADMIN') %} 
                                            <td>{{ benefit.africard }} F</td>
                                            <td>{{ benefit.moneygram }} F</td>
                                            <td>{{ benefit.wu }} F</td>
                                            <td>{{ benefit.ria }} F</td>
                                            {% endif %}
                                            
                                            <td>{{ benefit.orange + benefit.mtn + benefit.moov + benefit.wizall + benefit.canalPlus }} F</td>
                                            <td>
                                                <a href="{{ path('benefit_show', {'id': benefit.id}) }}"><i class="flaticon-eye text-warning"></i></a>
                                                <a href="{{ path('benefit_edit', {'id': benefit.id}) }}"><i class="flaticon2-pen text-danger"></i></a>
                                            </td>
                                        </tr>

                                    {% endif %}
                                    
                                {% else %}
                                    <tr>
                                        <td >pas de données trouvées</td>
                                    </tr>
                                {% endfor %}
                              
                            </tbody>
                            <tfooter>
                                
                                <tr style="background-color:#3699FF">
                                    
                                    <td><strong style="color:white;"> TOTAL </strong></td>
                                   
                                    <td>{{ totalorange }} F</td>
                                    <td>{{ totalmtn }} F</td>
                                    <td>{{ totalmoov }} F</td>
                                    <td>{{ totalwizall }} F</td>
                                    <td>{{ totalcanal }} F</td>
                                    
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>{{ totalafricard }} F</td>
                                        <td>{{ totalmoneygram }} F</td>
                                        <td>{{ totalwu }} F</td>
                                        <td>{{ totalria }} F</td>
                                    {% endif %}
                                    
                                    <td><strong style="color:white;">{{ totalorange + totalmtn + totalmoov + totalwizall + totalcanal  + totalafricard + totalmoneygram + totalwu + totalria }} F</strong></td>
                                    <td><strong style="color:white;"></strong></td>
                                </tr>
                                
                                
                            </tfooter>
                        </table>
                        <!--end: Datatable-->
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>


{% endblock %}



{% block javascripts %}

    <!--begin::Page Vendors(used by this page)-->
    <script src="{{ asset('assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5') }}"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="{{ asset('assets/js/pages/crud/datatables/basic/basic.js?v=7.0.5') }}"></script>
    <!--end::Page Scripts-->


{% endblock %}