{{ form_start(form) }}
<div class="card-body">
   
    <div class="form-group">
        <label>{{ form_label(form.name, 'Nom') }}</label>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.name) }} {{ form_errors(form.name) }}</span>
    </div>
     

</div>
<div class="card-footer">
    <button class="btn  btn-primary mr-2">{{ button_label|default('Sauver') }}</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>
</div>
{{ form_end(form) }}
