{% extends 'base.html.twig' %}

{% block title %}Liste service{% endblock %}

{% block body %}
    
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Services</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Gestion des services</a>
                            </li>
                            {#   <li class="breadcrumb-item">
                                   <a href="" class="text-muted">Datatables.net</a>
                               </li>
                               <li class="breadcrumb-item">
                                   <a href="" class="text-muted">Basic</a>
                               </li>
                               <li class="breadcrumb-item">
                                   <a href="" class="text-muted">Basic Tables</a>
                               </li>#}
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">Services
                                <span class="d-block text-muted pt-2 font-size-sm">Parametrez ici tous les services de votre agence</span></h3>
                        </div>
                        <div class="card-toolbar">

                            <!--begin::Button-->
                            <a href="{{ path('heading_new') }}" class="btn btn-primary font-weight-bolder">
                                <i class="la la-plus"></i>Nouvel enregistrement</a>
                            <!--end::Button-->
                        </div>
                    </div>
                    <div class="card-body">
                        <!--begin: Datatable-->
                        <table  class="table table-bordered" id="kt_datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for heading in headings %}
            <tr>
                <td>{{ heading.id }}</td>
                <td>{{ heading.name }}</td>
                <td>
                    <a href="{{ path('heading_show', {'id': heading.id}) }}"><i class="flaticon-eye text-warning"></i></a>
                    |
                    <a href="{{ path('heading_edit', {'id': heading.id}) }}"><i class="flaticon2-pen text-danger"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de données trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--end: Datatable-->
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
{% endblock %}


{% block javascripts %}

    <!--begin::Page Vendors(used by this page)-->
    <script src="{{ asset('assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5') }}"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="{{ asset('assets/js/pages/crud/datatables/basic/basic.js?v=7.0.5') }}"></script>
    <!--end::Page Scripts-->

{% endblock %}
