/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 nov. 2020, 18:35:57
    Author     : modestekouassi


@media (min-width: 992px){
    .aside-fixed .wrapper {
        padding-left: 0px !important;
    }
}
*/