<!--begin::Form-->


{{ form_start(form) }}
<div class="card-body">
   
    <div class="form-group">
        <label>{{ form_label(form.typeCard, 'Type de carte') }}</label>
        {{ form_widget(form.typeCard, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.typeCard) }} {{ form_errors(form.typeCard) }}</span>
    </div>
    
    <div class="form-group">
        <label>{{ form_label(form.typeCard, 'Quantité') }}</label>
        {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.quantity) }} {{ form_errors(form.quantity) }}</span>
    </div>
    
     
    <div class="form-group">
        <label>{{ form_label(form.buyPrice, 'Prix d\'achat en F CFA') }}</label>
        {{ form_widget(form.buyPrice, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.buyPrice) }} {{ form_errors(form.buyPrice) }}</span>
    </div>
    
    <div class="form-group">
        <label>{{ form_label(form.price, 'Prix de vente en F CFA') }}</label>
        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.price) }} {{ form_errors(form.price) }}</span>
    </div>
    
   
    <div class="form-group">
        <label>{{ form_label(form.benefit, 'COMMISSION SUR RECHARGEMENT') }}</label>
        {{ form_widget(form.benefit, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.benefit) }} {{ form_errors(form.benefit) }}</span>
    </div>
    
    <div class="form-group">
        <label>{{ form_label(form.benefitPerCent, 'COMMISSION SUR RECHARGEMENT SUPERIEUR A 75000F/45000F') }}</label>
        {{ form_widget(form.benefitPerCent, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.benefitPerCent) }} {{ form_errors(form.benefitPerCent) }}</span>
    </div>
    
</div>
<div class="card-footer">
    <button class="btn  btn-primary mr-2">{{ button_label|default('Sauver') }}</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>
</div>
{{ form_end(form) }}

<!--end::Form-->