<!--begin::Form-->
{{ form_start(form) }}
<div class="card-body">
   
    <div class="form-group">
        <label>{{ form_label(form.name, 'Nom du client') }}</label>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.name) }} {{ form_errors(form.name) }}</span>
    </div>
    
    
    <div class="form-group">
        <label>{{ form_label(form.phone, 'Téléphone') }}</label>
        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.phone) }} {{ form_errors(form.phone) }}</span>
    </div>
    
    
    <div class="form-group">
        <label>{{ form_label(form.occasion, 'Service') }}</label>
        {{ form_widget(form.occasion, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.occasion) }} {{ form_errors(form.occasion) }}</span>
    </div>

</div>
<div class="card-footer">
    <button class="btn  btn-primary mr-2">{{ button_label|default('Sauver') }}</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>
</div>
{{ form_end(form) }}

<!--end::Form-->