<form method="post" action="{{ path('card_agency_delete', {'id': card_agency.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ card_agency.id) }}">
    <button class="btn btn-danger font-weight-bolder font-size-sm">Supprimer</button>
</form>
