<!--begin::Form-->
{{ form_start(form) }}
<div class="card-body">
   
    <div class="form-group">
        <label>{{ form_label(form.quantity, 'Quantité') }}</label>
        {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.quantity) }} {{ form_errors(form.quantity) }}</span>
    </div>
    
    
    <div class="form-group">
        <label>{{ form_label(form.card, 'Type de carte') }}</label>
        {{ form_widget(form.card, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.card) }} {{ form_errors(form.card) }}</span>
    </div>
    
    
    <div class="form-group">
        <label>{{ form_label(form.agency, 'Agence') }}</label>
        {{ form_widget(form.agency, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.agency) }} {{ form_errors(form.agency) }}</span>
    </div>

</div>
<div class="card-footer">
    <button class="btn  btn-primary mr-2">{{ button_label|default('Sauver') }}</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>
</div>
{{ form_end(form) }}

<!--end::Form-->
