{% extends 'base.html.twig' %}

{% block title %}Carte d'agences{% endblock %}

{% block body %}

    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Cartes</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Gestion des cartes d'agences</a>
                            </li>
                            {#   <li class="breadcrumb-item">
                                   <a href="" class="text-muted">Datatables.net</a>
                               </li>
                               <li class="breadcrumb-item">
                                   <a href="" class="text-muted">Basic</a>
                               </li>
                               <li class="breadcrumb-item">
                                   <a href="" class="text-muted">Basic Tables</a>
                               </li>#}
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
              
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">Cartes agences
                                <span class="d-block text-muted pt-2 font-size-sm">Gérez ici tous vos cartes d'agence</span></h3>
                        </div>
                        <div class="card-toolbar">

                            <!--begin::Button-->
                            <a href="{{ path('card_agency_new') }}" class="btn btn-primary font-weight-bolder">
                                <i class="la la-plus"></i>Nouveau</a>
                            <!--end::Button-->
                        </div>
                    </div>
                    <div class="card-body">
                        <!--begin: Datatable-->
                        <table  class="table table-bordered" id="kt_datatable">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Agence</th>
                                    <th>Carte</th>
                                    <th>Quantité</th>
                                   
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {# {% if card_agency.user.firstName {{ card_agency.user.firstName }} {{ card_agency.user.lastName }}#}
                                {% for card_agency in card_agencies %}
                                    <tr>
                                        <td>{{ card_agency.dateAdd ? card_agency.dateAdd|date('Y-m-d') : '' }}</td>
                                        <td>{{ card_agency.agency.name }} </td>
                                        <td>{{ card_agency.card.typeCard }} </td>
                                        <td>{{ card_agency.quantity }}</td>
                                       
                                        <td>
                                            <a href="{{ path('card_agency_show', {'id': card_agency.id}) }}"><i class="flaticon-eye text-warning"></i></a>
                                            |
                                            <a href="{{ path('card_agency_edit', {'id': card_agency.id}) }}"><i class="flaticon2-pen text-danger"></i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">pas de données trouvées</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>





{% endblock %}
