{% extends 'base.html.twig' %}

{% block title %}Assignation{% endblock %}

{% block body %}
    
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Service</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Features</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Widgets</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Advance Tables</a>
                            </li>
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">

                <!--begin::Advance Table Widget 4-->
                <div class="card card-custom gutter-b">
                    <!--begin::Header-->
                    <div class="card-header border-0 py-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">Assignation</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm">More than 400+ new members</span>
                        </h3>
                        <div class="card-toolbar">
                            
                            <a href="{{ path('card_agency_edit', {'id': card_agency.id}) }}" class="btn btn-info font-weight-bolder font-size-sm mr-3">Editer</a>
                           {{ include('card_agency/_delete_form.html.twig') }}
                           
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-0 pb-3">
                        <div class="tab-content">
                            <!--begin::Table-->
                            <div class="table-responsive">
                                <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">

        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ card_agency.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ card_agency.quantity }}</td>
            </tr>
            <tr>
                <th>DateAdd</th>
                <td>{{ card_agency.dateAdd ? card_agency.dateAdd|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
                            <!--end::Table-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Advance Table Widget 4-->

            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->

    <div class="content d-flex flex-column flex-column-fluid">
        <div class="container"><b><a href="{{ path('card_agency_index') }}">Retourner à la liste</a></b></div>
    </div>


{% endblock %}
