<form method="post" action="{{ path('coffer_state_delete', {'id': coffer_state.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coffer_state.id) }}">
     <button class="btn btn-danger font-weight-bolder font-size-sm">Supprimer</button>
</form>
