<!--begin::Form-->

{{ form_start(form) }}
<div class="card-body">
   
    <div class="form-group">
        <label>{{ form_label(form.orange, 'Orange Money en F CFA') }}</label>
        {{ form_widget(form.orange, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.orange) }} {{ form_errors(form.orange) }}</span>
    </div>
    
    
    <div class="form-group">
        <label>{{ form_label(form.mtn, 'MTN Money en F CFA') }}</label>
        {{ form_widget(form.mtn, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.mtn) }} {{ form_errors(form.mtn) }}</span>
    </div>
   
    
    <div class="form-group">
        <label>{{ form_label(form.moov, 'Moov Money en F CFA') }}</label>
        {{ form_widget(form.moov, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.moov) }} {{ form_errors(form.moov) }}</span>
    </div>
   
    
    
    <div class="form-group">
        <label>{{ form_label(form.wizall, 'Wizall en F CFA') }}</label>
        {{ form_widget(form.wizall, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.wizall) }} {{ form_errors(form.wizall) }}</span>
    </div>
    
    <div class="form-group">
        <label>{{ form_label(form.wave, 'Wave en F CFA') }}</label>
        {{ form_widget(form.wave, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.wave) }} {{ form_errors(form.wave) }}</span>
    </div>
   
    
    
    <div class="form-group">
        <label>{{ form_label(form.cash, 'Espèces F CFA') }}</label>
        {{ form_widget(form.cash, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.cash) }} {{ form_errors(form.cash) }}</span>
    </div>
    
     <div class="form-group">
        <label>{{ form_label(form.currency, 'Devise F CFA') }}</label>
        {{ form_widget(form.currency, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.currency) }} {{ form_errors(form.currency) }}</span>
    </div>
    
     <div class="form-group">
        <label>{{ form_label(form.other, 'Autres F CFA') }}</label>
        {{ form_widget(form.other, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.other) }} {{ form_errors(form.other) }}</span>
    </div>
    
  
    
</div>
<div class="card-footer">
    <button class="btn  btn-primary mr-2">{{ button_label|default('Sauver') }}</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>
</div>
{{ form_end(form) }}

<!--end::Form-->