{% extends 'base.html.twig' %}

{% block title %}Etat des caisses{% endblock %}

{% block body %}
   
    {% set total = 0 %}
     
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Etat des caisses</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Gestion des états</a>
                        </li>
                        {#   <li class="breadcrumb-item">
                               <a href="" class="text-muted">Datatables.net</a>
                           </li>
                           <li class="breadcrumb-item">
                               <a href="" class="text-muted">Basic</a>
                           </li>
                           <li class="breadcrumb-item">
                               <a href="" class="text-muted">Basic Tables</a>
                           </li>#}
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->

        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
              {% if is_granted('ROLE_ADMIN') %}
                    <!--begin::Notice-->
                <div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">
                    <div class="alert-text"> {{ include('_search_form.html.twig', {'route': 'coffer_state_list', 'type': 'coffer'}) }} </div>
                </div>
                <!--end::Notice-->
            {% endif %}

            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">Etat des caisses
                            <span class="d-block text-muted pt-2 font-size-sm">Gérez ici les états de caisse</span></h3>
                    </div>
                    <div class="card-toolbar">

                        <!--begin::Button-->
                        <a href="{{ path('coffer_state_new') }}" class="btn btn-primary font-weight-bolder">
                            <i class="la la-plus"></i>Nouveau</a>
                        <!--end::Button-->
                    </div>
                </div>
                <div class="card-body">
                    <!--begin: Datatable-->
                    <table class="table table-bordered" id="k_datatable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Agence</th>
                                <th>Espèces</th>
                                <th>Orange Money</th>
                                <th>MTN Money</th>
                                <th>Moov Money</th>
                                <th>Wizall</th>
                                <th>Wave</th>
                                <th>Devise</th>
                                <th>Autres</th>
                               <th>TOTAL</th>
                               {% if not is_granted('ROLE_ADMIN') %} <th>Actions</th>{% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for coffer_state in coffer_states %}
                                {% if loop.index is divisible by 2 %}
                                    <tr>
                                        <td>{{ coffer_state.dateState ? coffer_state.dateState|date('Y-m-d') : '' }}</td>
                                        <td>{{ coffer_state.user.agency.name }}</td>
                                        <td>{{ coffer_state.cash }} F</td>
                                        <td>{{ coffer_state.orange }} F</td>
                                        <td>{{ coffer_state.mtn }} F</td>
                                        <td>{{ coffer_state.moov }} F</td>
                                        <td>{{ coffer_state.wizall }} F</td>
                                        <td>{{ coffer_state.wave }} F</td>
                                        <td>{{ coffer_state.currency }} F</td>
                                        <td>{{ coffer_state.other }} F</td>
                                        <td>{{ coffer_state.orange + coffer_state.mtn + coffer_state.moov + coffer_state.wizall + coffer_state.wave + coffer_state.cash + coffer_state.currency + coffer_state.other}} F</td>
                                       {% set total = coffer_state.orange + coffer_state.mtn + coffer_state.moov + coffer_state.wizall + coffer_state.wave + coffer_state.cash + coffer_state.currency + coffer_state.other %}
                                        {% if not is_granted('ROLE_ADMIN') %} <td>
                                            <a href="{{ path('coffer_state_show', {'id': coffer_state.id}) }}"><i class="flaticon-eye text-warning"></i></a>
                                            <a href="{{ path('coffer_state_edit', {'id': coffer_state.id}) }}"><i class="flaticon2-pen text-danger"></i></a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% else %}
                                    <tr style="background-color:lavenderblush">
                                        <td>{{ coffer_state.dateState ? coffer_state.dateState|date('Y-m-d') : '' }}</td>
                                        <td>{{ coffer_state.user.agency.name }}</td>
                                        <td>{{ coffer_state.cash }} F</td>
                                        <td>{{ coffer_state.orange }} F</td>
                                        <td>{{ coffer_state.mtn }} F</td>
                                        <td>{{ coffer_state.moov }} F</td>
                                        <td>{{ coffer_state.wizall }} F</td>
                                        <td>{{ coffer_state.wave }} F</td>
                                        <td>{{ coffer_state.currency }} F</td>
                                        <td>{{ coffer_state.other }} F</td>
                                        <td>{{ coffer_state.orange + coffer_state.mtn + coffer_state.moov + coffer_state.wizall + coffer_state.wave + coffer_state.cash + coffer_state.currency + coffer_state.other }} F</td>
                                        {% set total = coffer_state.orange + coffer_state.mtn + coffer_state.moov + coffer_state.wizall + coffer_state.wave + coffer_state.cash + coffer_state.currency + coffer_state.other %}
                                        {% if not is_granted('ROLE_ADMIN') %}<td>
                                            <a href="{{ path('coffer_state_show', {'id': coffer_state.id}) }}"><i class="flaticon-eye text-warning"></i></a>
                                            <a href="{{ path('coffer_state_edit', {'id': coffer_state.id}) }}"><i class="flaticon2-pen text-danger"></i></a>
                                        </td>
                                        {% endif %}
                                    </tr>

                                {% endif %}
                            {% else %}
                                <tr>
                                    <td >pas de données trouvées</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    <!--end: Datatable-->
                     {% if not is_granted('ROLE_ADMIN') %}
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <a class="btn btn-warning font-weight-bolder"> <strong>ECART DE CAISSE: {{total - balance }} F</strong> </a>
                        </div>
                    </div>
                        {% endif %}
                </div>
            </div>
            <!--end::Card-->
           {% if not is_granted('ROLE_ADMIN') %} <br/>
            <a href="{{ path('inventory_index') }}" class="btn btn-success font-weight-bolder">Suivant</a> {% endif %}
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>



{% endblock %}


{% block javascripts %}

    <!--begin::Page Vendors(used by this page)-->
    <script src="{{ asset('assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5') }}"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="{{ asset('assets/js/pages/crud/datatables/basic/basic.js?v=7.0.5') }}"></script>
    <!--end::Page Scripts-->

{% endblock %}