{% extends 'base.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}
  
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Page Title-->
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Commission {{ coffer_state.type }}</h5>
                        <!--end::Page Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Features</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Widgets</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="" class="text-muted">Advance Tables</a>
                            </li>
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">

                <!--begin::Advance Table Widget 4-->
                <div class="card card-custom gutter-b">
                    <!--begin::Header-->
                    <div class="card-header border-0 py-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">Commission {{ coffer_state.type }}</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm">More than 400+ new members</span>
                        </h3>
                        <div class="card-toolbar">
                            <a href="{{ path('coffer_state_edit', {'id': coffer_state.id}) }}" class="btn btn-info font-weight-bolder font-size-sm mr-3">Editer</a>

                            {{ include('coffer_state/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-0 pb-3">
                        <div class="tab-content">
                            <!--begin::Table-->
                            <div class="table-responsive">
                                <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">

                                    <tbody>

                                        <tr class="text-left text-uppercase">
                                            <th style="min-width: 100px">Orange Money:</th>
                                            <td>{{ coffer_state.orange }} F</td>
                                        </tr>
                                        
                                         <tr class="text-left text-uppercase">
                                            <th style="min-width: 100px">MTN Money:</th>
                                            <td>{{ coffer_state.mtn }} F</td>
                                        </tr>
                                        
                                         <tr class="text-left text-uppercase">
                                            <th style="min-width: 100px">Moov Money:</th>
                                            <td>{{ coffer_state.moov }} F</td>
                                        </tr>
                                        
                                         <tr class="text-left text-uppercase">
                                            <th style="min-width: 100px">Wizall:</th>
                                            <td>{{ coffer_state.wizall }} F</td>
                                        </tr>
                                        
                                        <tr class="text-left text-uppercase">
                                            <th style="min-width: 100px">Wave:</th>
                                            <td>{{ coffer_state.wave }} F</td>
                                        </tr>
                                        
                                        
                                        
                                        
                                         <tr class="text-left text-uppercase">
                                            <th style="min-width: 100px">Espèces:</th>
                                            <td>{{ coffer_state.cash }} F</td>
                                        </tr>
                                        
                                        
                                         <tr class="text-left text-uppercase">
                                            <th style="min-width: 100px">Devises:</th>
                                            <td>{{ coffer_state.currency }} F</td>
                                        </tr>
                                        
                                        
                                          <tr class="text-left text-uppercase">
                                            <th style="min-width: 100px">Africard:</th>
                                            <td>{{ coffer_state.africard }} F</td>
                                        </tr>
                                        
                                         <tr class="text-left text-uppercase">
                                            <th style="min-width: 100px">Autres:</th>
                                            <td>{{ coffer_state.other }} F</td>
                                        </tr>
                                        
                                        
                                        
                                        
                                        <tr class="text-left text-uppercase">
                                            <th style="min-width: 100px">Date:</th>
                                            <td>{{ coffer_state.dateState ? coffer_state.dateState|date('Y-m-d') : '' }}</td>
                                        </tr>
                                        
                                        
                                        <tr class="text-left text-uppercase">
                                            <th style="min-width: 100px">Service:</th>
                                            <td>{{ coffer_state.type }}</td>
                                        </tr>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        
                                        <tr class="text-left text-uppercase">
                                             <th style="min-width: 100px">Agent:</th>
                                             <td>{{ coffer_state.user.firstName }} {{ coffer_state.user.lastName }}</td>
                                         </tr>
                                        
                                         {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <!--end::Table-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Advance Table Widget 4-->

            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->

    <div class="content d-flex flex-column flex-column-fluid">
        <div class="container"><b><a href="{{ path('coffer_state_index') }}">Retourner à la liste</a></b></div>
    </div>

    
    
{% endblock %}
