
<!--begin::Form-->

{{ form_start(form, {'action': path(route, {'type': type}), 'method': 'POST'}) }}
<div class="row card-body">
    
    <div class="col-md-3 form-group mx-auto">
       {{ form_label(form.startDate, 'Du') }}
       {{ form_widget(form.startDate, {'attr': {'class': 'form-control'}}) }}
       <span class="form-text text-muted">{{ form_help(form.startDate) }} {{ form_errors(form.startDate) }}</span>
    </div>

    <div class="col-md-3 form-group mx-auto">
        {{ form_label(form.endDate, 'Au') }}
        {{ form_widget(form.endDate, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.endDate) }} {{ form_errors(form.endDate) }}</span>
    </div>

    
    <div class="col-md-2 form-group mx-auto" style="{% if route != 'operation_index' and route != 'compensations' and route != 'commissions' %} display:none; {% endif %}">
        {{ form_label(form.occasion, 'Service') }}
        {{ form_widget(form.occasion, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.occasion) }} {{ form_errors(form.occasion) }}</span>
    </div>
    
   
    <div class="col-md-2 form-group mx-auto" style="{% if (route != 'money_out_index' and type == 'Banque') or not is_granted('ROLE_ADMIN') %} display:none; {% endif %}">
        {{ form_label(form.agency, 'Agence') }}
        {{ form_widget(form.agency, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.agency) }} {{ form_errors(form.agency) }}</span>
    </div>


    <div class="col-md-2 form-group mx-auto">
        <div class="card-footer">
            <button type="submit" class="btn btn-md btn-primary mr-2">Recherche</button>
        </div>
        
    </div>
   
</div>
{{ form_end(form) }}

<!--end::Form-->