
<!--begin::Form-->
{{ form_start(form) }}
<div class="card-body">
   
    <div class="form-group">
        <label>{{ form_label(form.firstName, 'Prénom(s)') }}</label>
        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.firstName) }} {{ form_errors(form.firstName) }}</span>
    </div>


    <div class="form-group">
        <label>{{ form_label(form.lastName, 'Nom') }}</label>
        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.lastName) }} {{ form_errors(form.lastName) }}</span>
    </div>


    <div class="form-group">
        <label>{{ form_label(form.email, 'Email') }}</label>
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.email) }} {{ form_errors(form.email) }}</span>
    </div>

    <div class="form-group">
        <label>{{ form_label(form.agency, 'Agence') }}</label>
        {{ form_widget(form.agency, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.agency) }} {{ form_errors(form.agency) }}</span>
    </div>


    <div class="form-group">
        <label>{{ form_label(form.phone, 'Téléphone') }}</label>
        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.phone) }} {{ form_errors(form.phone) }}</span>
    </div>


    <div class="form-group">
        <label>{{ form_label(form.roles, 'Rôle') }}</label>
        {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
        <span class="form-text text-muted">{{ form_help(form.roles) }} {{ form_errors(form.roles) }}</span>
    </div>


    {% for passwordField in form.password %}

        <div class="form-group">
            <label>{{ form_label(passwordField) }}</label>
            {{ form_widget(passwordField, {'attr': {'class': 'form-control'}}) }}
            <span class="form-text text-muted">{{ form_help(passwordField) }} {{ form_errors(passwordField) }}</span>
        </div>
        
    {% endfor %}



</div>
<div class="card-footer">
    <button class="btn  btn-primary mr-2">{{ button_label|default('Sauver') }}</button>
    <button type="reset" class="btn btn-secondary">Annuler</button>
</div>
{{ form_end(form) }}

<!--end::Form-->